Py School Analysis
Devin Stern

Two observable trends from the data:

1. Larger district schools have the lowest overall passing scores (reading and math combined). Larger schools may have poor student to instructor ratio. 

2. Small/Medium charter schools have the highest overall passing scores (reading and math combined). Smaller schools may have better student to instructor ratios. Charter schools may also have more flexibility with curriculum.

In [510]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "schools.csv"
student_data_to_load = "students.csv"


# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [511]:
#Check out what the data looks like after combining the two csv files
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [512]:
#Find the total number of schools
total_schools = school_data_complete['school_name'].unique()
total_schools = len(total_schools)
total_schools

15

In [513]:
#Find the total number of students
students = school_data_complete['student_name'].unique()
total_students = len(students)
total_students

32715

In [514]:
#View column headers for ease of use
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [515]:
#Create dataframe for average data
school_summary_df = school_data_complete[["school_name", "reading_score", "math_score", "budget"]]

In [516]:
#group school summary dataframe by school name
average_group = school_summary_df.groupby(["school_name"])

#calculate averages for each column by school name
average_group.mean()

                       reading_score  math_score     budget
school_name
Bailey High School         81.033963   77.048432  3124928.0
Cabrera High School        83.975780   83.061895  1081356.0
Figueroa High School       81.158020   76.711767  1884411.0
Ford High School           80.746258   77.102592  1763916.0
Griffin High School        83.816757   83.351499   917500.0
Hernandez High School      80.934412   77.289752  3022020.0
Holden High School         83.814988   83.803279   248087.0
Huang High School          81.182722   76.629414  1910635.0
Johnson High School        80.966394   77.072464  3094650.0
Pena High School           84.044699   83.839917   585858.0
Rodriguez High School      80.744686   76.842711  2547363.0
Shelton High School        83.725724   83.359455  1056600.0
Thomas High School         83.848930   83.418349  1043130.0
Wilson High School         83.989488   83.274201  1319574.0
Wright High School         83.955000   83.682222  1049400.0

In [517]:
#Calculate the average reading score across schools

avg_reading_score = school_summary_df["reading_score"].mean()
avg_reading_score

81.87784018381414

In [518]:
#Caclculate the average math score across schools

avg_math_score = school_summary_df["math_score"].mean()
avg_math_score

78.98537145774827

In [519]:
#Calculate total budget across schools
#I know this number is wrong but I cannot, for the life of me, get the correct number!
budget = school_summary_df["budget"].sum()
total_budget = budget #15 schools
total_budget

82932329558

In [520]:
#Calculate overall passing score average reading + average math/2
overall_passing_score = (avg_reading_score + avg_math_score)/2
overall_passing_score

80.43160582078121

In [521]:
#find the number of passing reading scores (above 70), and then find the percentage
smart_readers = school_summary_df.loc[school_summary_df["reading_score"] > 70]
len(smart_readers)

32500

In [522]:
#find the number of passing math scores (above 70)
smart_mathers = school_summary_df.loc[school_summary_df["math_score"]>70]
len(smart_mathers)

28356

In [523]:
#Calculate percentage of passing reading scores
pass_read = len(smart_readers)/len(school_summary_df)*100
pass_read

82.97166198621395

In [524]:
#Calculate percentage of passing math scores
pass_math = len(smart_mathers)/len(school_summary_df)*100
pass_math

72.39213683941792

In [525]:
#Format final dataframe
district_summary_df = pd.DataFrame(
    {"Total Schools": total_schools,
    "Total Students": total_students,
     "Total Budget": total_budget,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_reading_score,
    "% Passing Math": pass_math,
    "% Passing Reading": pass_read,
    "% Overall Passing Rate": overall_passing_score}, index=[0])

district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,32715,82932329558,78.985371,81.87784,72.392137,82.971662,80.431606

## School Summary

In [526]:
#Create groupby variable to group everything by school
g = school_data_complete.groupby('school_name')
g

In [527]:
#Group school data complete by school name
for school_name, school_name_df in g:
    print(school_name)
    print(school_name_df)

Bailey High School
       Student ID         student_name gender grade         school_name  \
17871       17871         Blake Martin      M   9th  Bailey High School
17872       17872         Kathryn Kane      F  12th  Bailey High School
17873       17873         Richard Haas      M  11th  Bailey High School
17874       17874          Frank Marsh      M   9th  Bailey High School
17875       17875  Charles Goodman Jr.      M   9th  Bailey High School
17876       17876         James Burton      M  11th  Bailey High School
17877       17877         James Rogers      M  11th  Bailey High School
17878       17878            Wendy Fox      F  12th  Bailey High School
17879       17879         Lori Lambert      F  11th  Bailey High School
17880       17880          Aaron Moyer      M   9th  Bailey High School
17881       17881       Antonio Foster      M  10th  Bailey High School
17882       17882         Michael Dean      M   9th  Bailey High School
17883       17883           Robin Vega      F   9th  Bailey High School
17884       17884    Stephanie Robbins      F  10th  Bailey High School
17885       17885       Joseph Webster      M  11th  Bailey High School
17886       17886         David Harper      M  10th  Bailey High School
17887       17887      Michaela Morgan      F  10th  Bailey High School
17888       17888      Jeffrey Sherman      M  12th  Bailey High School
17889       17889     Zachary Williams      M  12th  Bailey High School
17890       17890           Debra Owen      F  11th  Bailey High School
17891       17891       Devin Phillips      M  12th  Bailey High School
17892       17892       Kenneth Juarez      M   9th  Bailey High School
17893       17893      Jennifer Martin      F  11th  Bailey High School
17894       17894         Katie Ingram      F  11th  Bailey High School
17895       17895       Laura Castillo      F  10th  Bailey High School
17896       17896       Jessica Butler      F  12th  Bailey High School
17897       17897        Daniel Thomas      M  12th  Bailey High School
17898       17898            Alan Hall      M  12th  Bailey High School
17899       17899       Robin Castillo      F  11th  Bailey High School
17900       17900        Ashley Bowman      F  12th  Bailey High School
...           ...                  ...    ...   ...                 ...
22817       22817      Rhonda Ferguson      F   9th  Bailey High School
22818       22818         Brenda Dixon      F   9th  Bailey High School
22819       22819       Danny Cummings      M  11th  Bailey High School
22820       22820       Steven Fischer      M  12th  Bailey High School
22821       22821       Kenneth Brooks      M   9th  Bailey High School
22822       22822          Tyler Smith      M   9th  Bailey High School
22823       22823             Brian Li      M  10th  Bailey High School
22824       22824       Rebecca Harris      F  10th  Bailey High School
22825       22825         Renee Spence      F  11th  Bailey High School
22826       22826       Benjamin Silva      M  10th  Bailey High School
22827       22827      Alison Anderson      F   9th  Bailey High School
22828       22828       Bethany Harvey      F   9th  Bailey High School
22829       22829        Rodney Miller      M  12th  Bailey High School
22830       22830       Nicholas Costa      M   9th  Bailey High School
22831       22831         Samuel Blair      M  10th  Bailey High School
22832       22832     Kimberly Bennett      F  11th  Bailey High School
22833       22833         Ronald Baker      M  12th  Bailey High School
22834       22834       Brittany Gates      F  11th  Bailey High School
22835       22835     Katherine Steele      F  11th  Bailey High School
22836       22836      Caleb Hernandez      M  12th  Bailey High School
22837       22837           Ryan Allen      M   9th  Bailey High School
22838       22838        Robert Miller      M  11th  Bailey High School
22839       22839      Rodney Thompson      M  10th  Bailey High School
22840       22840         Sarah Rivera      F  11th  Bailey High School
22841       22841        Lauren Miller      F  10th  Bailey High School
22842       22842         Jaclyn Ayala      F  12th  Bailey High School
22843       22843       Jennifer Tapia      F  12th  Bailey High School
22844       22844       Gabriel Ashley      M   9th  Bailey High School
22845       22845         Sarah Cooper      F  10th  Bailey High School
22846       22846  Dr. Nicholas Garcia      M  11th  Bailey High School

       reading_score  math_score  School ID      type  size   budget
17871             75          59          7  District  4976  3124928
17872             84          58          7  District  4976  3124928
17873             79          86          7  District  4976  3124928
17874             71          89          7  District  4976  3124928
17875             90          61          7  District  4976  3124928
17876             89          85          7  District  4976  3124928
17877             91          70          7  District  4976  3124928
17878             85          99          7  District  4976  3124928
17879             93          80          7  District  4976  3124928
17880             81          62          7  District  4976  3124928
17881             71          95          7  District  4976  3124928
17882             99          79          7  District  4976  3124928
17883             84          64          7  District  4976  3124928
17884             87          56          7  District  4976  3124928
17885             68          69          7  District  4976  3124928
17886             97          60          7  District  4976  3124928
17887             74          74          7  District  4976  3124928
17888             93          57          7  District  4976  3124928
17889             77          89          7  District  4976  3124928
17890             92          77          7  District  4976  3124928
17891             69          83          7  District  4976  3124928
17892             96          69          7  District  4976  3124928
17893             86          92          7  District  4976  3124928
17894             73          83          7  District  4976  3124928
17895             78          71          7  District  4976  3124928
17896             78          91          7  District  4976  3124928
17897             65          69          7  District  4976  3124928
17898             86          71          7  District  4976  3124928
17899             81          86          7  District  4976  3124928
17900             75          63          7  District  4976  3124928
...              ...         ...        ...       ...   ...      ...
22817             92          81          7  District  4976  3124928
22818             84          82          7  District  4976  3124928
22819             89          72          7  District  4976  3124928
22820             87          73          7  District  4976  3124928
22821             93          93          7  District  4976  3124928
22822             75          88          7  District  4976  3124928
22823             92          85          7  District  4976  3124928
22824             87          82          7  District  4976  3124928
22825             96          59          7  District  4976  3124928
22826             77          63          7  District  4976  3124928
22827             87          68          7  District  4976  3124928
22828             69          59          7  District  4976  3124928
22829             94          69          7  District  4976  3124928
22830             81          86          7  District  4976  3124928
22831             87          82          7  District  4976  3124928
22832             85          63          7  District  4976  3124928
22833             97          88          7  District  4976  3124928
22834             85          60          7  District  4976  3124928
22835             71          81          7  District  4976  3124928
22836             66          62          7  District  4976  3124928
22837             98          63          7  District  4976  3124928
22838             99          57          7  District  4976  3124928
22839             79          88          7  District  4976  3124928
22840             95          68          7  District  4976  3124928
22841             96          86          7  District  4976  3124928
22842             74          93          7  District  4976  3124928
22843             79          56          7  District  4976  3124928
22844             95          88          7  District  4976  3124928
22845             91          62          7  District  4976  3124928
22846             90          79          7  District  4976  3124928

[4976 rows x 11 columns]
Cabrera High School
       Student ID             student_name gender grade          school_name  \
16013       16013             Olivia Short      F  11th  Cabrera High School
16014       16014              Kerry Jones      F   9th  Cabrera High School
16015       16015            Bruce Jackson      M  12th  Cabrera High School
16016       16016                Amy Green      F  12th  Cabrera High School
16017       16017            Melanie Mason      F  12th  Cabrera High School
16018       16018              Donna Knapp      F  10th  Cabrera High School
16019       16019            Dylan Elliott      M  12th  Cabrera High School
16020       16020            Renee Randall      F  10th  Cabrera High School
16021       16021         Dennis Castaneda      M  11th  Cabrera High School
16022       16022          Nicole Petersen      F   9th  Cabrera High School
16023       16023            Michael Curry      M  10th  Cabrera High School
16024       16024             Joseph Evans      M  11th  Cabrera High School
16025       16025          Dawn Gilbert MD      F  10th  Cabrera High School
16026       16026          William Vasquez      M   9th  Cabrera High School
16027       16027              Selena West      F  10th  Cabrera High School
16028       16028            Shawn Jackson      M  11th  Cabrera High School
16029       16029            Jason Gardner      M   9th  Cabrera High School
16030       16030         Charles Odonnell      M  10th  Cabrera High School
16031       16031          Isaiah Marshall      M   9th  Cabrera High School
16032       16032              Juan Ibarra      M  11th  Cabrera High School
16033       16033     Christopher Anderson      M  10th  Cabrera High School
16034       16034       Christopher Carter      M  12th  Cabrera High School
16035       16035          Susan Hernandez      F  10th  Cabrera High School
16036       16036              Mary Powell      F  10th  Cabrera High School
16037       16037           Benjamin Mcgee      M   9th  Cabrera High School
16038       16038           Melissa Barker      F  10th  Cabrera High School
16039       16039           Joshua Mercado      M  10th  Cabrera High School
16040       16040             Steven Perez      M  10th  Cabrera High School
16041       16041              Lindsey Lee      F  11th  Cabrera High School
16042       16042           Melissa Martin      F  10th  Cabrera High School
...           ...                      ...    ...   ...                  ...
17841       17841  Mr. Christopher Griffin      M  12th  Cabrera High School
17842       17842           Jordan Goodman      M  10th  Cabrera High School
17843       17843            Michael Smith      M   9th  Cabrera High School
17844       17844             Ralph Martin      M  11th  Cabrera High School
17845       17845              Jim Bonilla      M  10th  Cabrera High School
17846       17846            Joseph Cooper      M  11th  Cabrera High School
17847       17847              Heidi Hayes      F   9th  Cabrera High School
17848       17848          Stephanie Potts      F  12th  Cabrera High School
17849       17849           Desiree Benson      F   9th  Cabrera High School
17850       17850             Barry Hudson      M   9th  Cabrera High School
17851       17851             Sheila Hicks      F  10th  Cabrera High School
17852       17852            Daniel Joseph      M   9th  Cabrera High School
17853       17853         Shannon Campbell      F  10th  Cabrera High School
17854       17854             Rachel Meyer      F  11th  Cabrera High School
17855       17855           Anthony Foster      M  10th  Cabrera High School
17856       17856           Michael Jacobs      M  12th  Cabrera High School
17857       17857        Jacqueline Pruitt      F   9th  Cabrera High School
17858       17858              Samuel Pena      M  12th  Cabrera High School
17859       17859               James Duke      M   9th  Cabrera High School
17860       17860            David Johnson      M  10th  Cabrera High School
17861       17861           Daniel Mueller      M   9th  Cabrera High School
17862       17862           Carol Matthews      F  10th  Cabrera High School
17863       17863             Lisa Sanders      F   9th  Cabrera High School
17864       17864          Kimberly Nguyen      F  12th  Cabrera High School
17865       17865            Megan Oconnor      F   9th  Cabrera High School
17866       17866              Sonya Roman      F  10th  Cabrera High School
17867       17867              Debra Perez      F  10th  Cabrera High School
17868       17868            Mr. Dean York      M  11th  Cabrera High School
17869       17869           Brandi Swanson      F  12th  Cabrera High School
17870       17870             Kim Faulkner      F  10th  Cabrera High School

       reading_score  math_score  School ID     type  size   budget
16013             94          94          6  Charter  1858  1081356
16014             98          97          6  Charter  1858  1081356
16015             78          83          6  Charter  1858  1081356
16016             89          92          6  Charter  1858  1081356
16017             96          71          6  Charter  1858  1081356
16018             82          72          6  Charter  1858  1081356
16019             95          97          6  Charter  1858  1081356
16020             99          70          6  Charter  1858  1081356
16021             86          89          6  Charter  1858  1081356
16022             86          96          6  Charter  1858  1081356
16023             89          99          6  Charter  1858  1081356
16024             95          84          6  Charter  1858  1081356
16025             79          82          6  Charter  1858  1081356
16026             72          69          6  Charter  1858  1081356
16027             90          70          6  Charter  1858  1081356
16028             89          95          6  Charter  1858  1081356
16029             73          84          6  Charter  1858  1081356
16030             80          98          6  Charter  1858  1081356
16031             92          94          6  Charter  1858  1081356
16032             77          68          6  Charter  1858  1081356
16033             70          70          6  Charter  1858  1081356
16034             94          68          6  Charter  1858  1081356
16035             95          79          6  Charter  1858  1081356
16036             71          68          6  Charter  1858  1081356
16037             93          81          6  Charter  1858  1081356
16038             82          82          6  Charter  1858  1081356
16039             75          71          6  Charter  1858  1081356
16040             87          94          6  Charter  1858  1081356
16041             95          76          6  Charter  1858  1081356
16042             70          94          6  Charter  1858  1081356
...              ...         ...        ...      ...   ...      ...
17841             88          82          6  Charter  1858  1081356
17842             69          87          6  Charter  1858  1081356
17843             73          82          6  Charter  1858  1081356
17844             70          86          6  Charter  1858  1081356
17845             94          84          6  Charter  1858  1081356
17846             76          78          6  Charter  1858  1081356
17847             70          83          6  Charter  1858  1081356
17848             83          82          6  Charter  1858  1081356
17849             75          70          6  Charter  1858  1081356
17850             73          97          6  Charter  1858  1081356
17851             98          93          6  Charter  1858  1081356
17852             99          95          6  Charter  1858  1081356
17853             85          76          6  Charter  1858  1081356
17854             78          83          6  Charter  1858  1081356
17855             84          87          6  Charter  1858  1081356
17856             91          68          6  Charter  1858  1081356
17857             76          97          6  Charter  1858  1081356
17858             86          90          6  Charter  1858  1081356
17859             90          74          6  Charter  1858  1081356
17860             88          71          6  Charter  1858  1081356
17861             88          81          6  Charter  1858  1081356
17862             80          96          6  Charter  1858  1081356
17863             96          89          6  Charter  1858  1081356
17864             87          69          6  Charter  1858  1081356
17865             98          82          6  Charter  1858  1081356
17866             79          86          6  Charter  1858  1081356
17867             89          98          6  Charter  1858  1081356
17868             98          75          6  Charter  1858  1081356
17869             81          73          6  Charter  1858  1081356
17870             99          83          6  Charter  1858  1081356

[1858 rows x 11 columns]
Figueroa High School
      Student ID             student_name gender grade           school_name  \
2917        2917               Amy Jacobs      F  10th  Figueroa High School
2918        2918          Nathan Campbell      M  12th  Figueroa High School
2919        2919          Randall Stewart      M  12th  Figueroa High School
2920        2920           Jennifer Brown      F   9th  Figueroa High School
2921        2921             Denise Lopez      F  10th  Figueroa High School
2922        2922      Amanda Hamilton DDS      F   9th  Figueroa High School
2923        2923             Anthony Pace      M  10th  Figueroa High School
2924        2924           Anthony Haynes      M  12th  Figueroa High School
2925        2925          Natasha Maxwell      F   9th  Figueroa High School
2926        2926           Christine Mann      F   9th  Figueroa High School
2927        2927              Jodi Taylor      F  10th  Figueroa High School
2928        2928          Nicole Atkinson      F   9th  Figueroa High School
2929        2929               Mark Smith      M   9th  Figueroa High School
2930        2930            Kristi Turner      F  10th  Figueroa High School
2931        2931           Jason Williams      M  11th  Figueroa High School
2932        2932           Robert Hickman      M   9th  Figueroa High School
2933        2933          Joshua Williams      M  10th  Figueroa High School
2934        2934              Sara Foster      F   9th  Figueroa High School
2935        2935             Robert Davis      M  12th  Figueroa High School
2936        2936            Katie Hensley      F  10th  Figueroa High School
2937        2937             Steven Salas      M  10th  Figueroa High School
2938        2938        Mrs. Lisa Rowland      F  11th  Figueroa High School
2939        2939              Jason Lewis      M  11th  Figueroa High School
2940        2940              James Adams      M  12th  Figueroa High School
2941        2941            Joseph Walker      M   9th  Figueroa High School
2942        2942         Elizabeth Gaines      F  11th  Figueroa High School

      Student ID         student_name gender grade          school_name  \
5866        5866     Jamie Montgomery      F  12th  Shelton High School
5867        5867     Shannon Phillips      F  10th  Shelton High School
5868        5868          Todd Barber      M  11th  Shelton High School
5869        5869         Desiree King      F  12th  Shelton High School
5870        5870      Melissa Roberts      F  10th  Shelton High School
5871        5871        Earl Martinez      M   9th  Shelton High School
5872        5872          Jose Willis      M  11th  Shelton High School
5873        5873          Andrew Shea      M   9th  Shelton High School
5874        5874      Catherine Price      F  12th  Shelton High School
5875        5875       Matthew Fowler      M   9th  Shelton High School
5876        5876        Keith Preston      M  12th  Shelton High School
5877        5877          Mark Wilson      M  12th  Shelton High School
5878        5878      Jessica Herrera      F   9th  Shelton High School
5879        5879        Blake Salinas      M   9th  Shelton High School
5880        5880   Brittany Gutierrez      F  11th  Shelton High School
5881        5881          Tami Wagner      F  10th  Shelton High School
5882        5882         Steven James      M  12th  Shelton High School
5883        5883          Ian Alvarez      M  11th  Shelton High School
5884        5884         Carlos Brown      M   9th  Shelton High School
5885        5885          Mary Murray      F   9th  Shelton High School
5886        5886           Karen Mack      F  11th  Shelton High School
5887        5887         Curtis Berry      M  11th  Shelton High School
5888        5888      Jennifer Harvey      F  12th  Shelton High School
5889        5889    Angelica Phillips      F   9th  Shelton High School
5890        5890           Amy Miller      F  12th  Shelton High School
5891        5891        Bryan Padilla      M  11th  Shelton High School
5892        5892        Lee Alexander      M  10th  Shelton High School
5893        5893        Dylan Chapman      M  11th  Shelton High School
5894        5894       Robert Goodwin      M   9th  Shelton High School
5895        5895         John Vasquez      M  11th  Shelton High School
...          ...                  ...    ...   ...                  ...
7597        7597     Angela Hernandez      F  10th  Shelton High School
7598        7598          Angela Hall      F  12th  Shelton High School
7599        7599       Jackie Sanders      F  11th  Shelton High School
7600        7600  Jacqueline Marshall      F   9th  Shelton High School
7601        7601     Gregory Mcknight      M  12th  Shelton High School
7602        7602        William Brown      M  12th  Shelton High School
7603        7603      Nicholas Pineda      M  12th  Shelton High School
7604        7604        Jeremy Thomas      M  12th  Shelton High School
7605        7605          Heather Lee      F  11th  Shelton High School
7606        7606        Rebecca Brown      F  12th  Shelton High School
7607        7607         Stacy Daniel      F  12th  Shelton High School
7608        7608       Kimberly Logan      F  10th  Shelton High School
7609        7609     Elizabeth Macias      F   9th  Shelton High School
7610        7610       Brianna Bowman      F  10th  Shelton High School
7611        7611            John Ward      M  10th  Shelton High School
7612        7612         Dana Compton      F  11th  Shelton High School
7613        7613      Larry Patterson      M  10th  Shelton High School
7614        7614    William Carpenter      M   9th  Shelton High School
7615        7615        Sierra Harris      F  12th  Shelton High School
7616        7616          Angel Garza      M   9th  Shelton High School
7617        7617        Anthony Curry      M   9th  Shelton High School
7618        7618          Frank Sharp      M  11th  Shelton High School
7619        7619       Maurice Joseph      M  11th  Shelton High School
7620        7620       Michelle Smith      F  12th  Shelton High School
7621        7621        Sarah Vasquez      F  12th  Shelton High School
7622        7622     Elizabeth Horton      F  11th  Shelton High School
7623        7623         April Harper      F  10th  Shelton High School
7624        7624       Melanie Chavez      F  12th  Shelton High School
7625        7625     Steven Alexander      M   9th  Shelton High School
7626        7626         Randy Carson      M  10th  Shelton High School

      reading_score  math_score  School ID     type  size   budget
5866             70          91          2  Charter  1761  1056600
5867             84          71          2  Charter  1761  1056600
5868             95          99          2  Charter  1761  1056600
5869             76          95          2  Charter  1761  1056600
5870             71          82          2  Charter  1761  1056600
5871             77          86          2  Charter  1761  1056600
5872             92          86          2  Charter  1761  1056600
5873             71          94          2  Charter  1761  1056600
5874             74          76          2  Charter  1761  1056600
5875             74          75          2  Charter  1761  1056600
5876             97          75          2  Charter  1761  1056600
5877             84          96          2  Charter  1761  1056600
5878             93          77          2  Charter  1761  1056600
5879             85          77          2  Charter  1761  1056600
5880             77          81          2  Charter  1761  1056600
5881             75          76          2  Charter  1761  1056600
5882             69          80          2  Charter  1761  1056600
5883             91          82          2  Charter  1761  1056600
5884             99          94          2  Charter  1761  1056600
5885             73          78          2  Charter  1761  1056600
5886             98          83          2  Charter  1761  1056600
5887             72          77          2  Charter  1761  1056600
5888             91          81          2  Charter  1761  1056600
5889             85          90          2  Charter  1761  1056600
5890             82          82          2  Charter  1761  1056600
5891             85          96          2  Charter  1761  1056600
5892             75          89          2  Charter  1761  1056600
5893             69          93          2  Charter  1761  1056600
5894             99          94          2  Charter  1761  1056600
5895             98          77          2  Charter  1761  1056600
...             ...         ...        ...      ...   ...      ...
7597             75          70          2  Charter  1761  1056600
7598             84          91          2  Charter  1761  1056600
7599             84          76          2  Charter  1761  1056600
7600             79          73          2  Charter  1761  1056600
7601             73          85          2  Charter  1761  1056600
7602             73          98          2  Charter  1761  1056600
7603             72          68          2  Charter  1761  1056600
7604             83          76          2  Charter  1761  1056600
7605             81          83          2  Charter  1761  1056600
7606             74          91          2  Charter  1761  1056600
7607             71          95          2  Charter  1761  1056600
7608             97          79          2  Charter  1761  1056600
7609             89          99          2  Charter  1761  1056600
7610             98          82          2  Charter  1761  1056600
7611             96          69          2  Charter  1761  1056600
7612             89          73          2  Charter  1761  1056600
7613             69          70          2  Charter  1761  1056600
7614             85          98          2  Charter  1761  1056600
7615             85          81          2  Charter  1761  1056600
7616             77          74          2  Charter  1761  1056600
7617             85          82          2  Charter  1761  1056600
7618             69          93          2  Charter  1761  1056600
7619             78          81          2  Charter  1761  1056600
7620             72          91          2  Charter  1761  1056600
7621             90          69          2  Charter  1761  1056600
7622             94          73          2  Charter  1761  1056600
7623             69          80          2  Charter  1761  1056600
7624             79          86          2  Charter  1761  1056600
7625             84          70          2  Charter  1761  1056600
7626             96          79          2  Charter  1761  1056600

[1761 rows x 11 columns]
Thomas High School
       Student ID          student_name gender grade         school_name  \
37535       37535            Norma Mata      F  10th  Thomas High School
37536       37536           Cody Miller      M  11th  Thomas High School
37537       37537           Erik Snyder      M   9th  Thomas High School
37538       37538        Tanya Martinez      F   9th  Thomas High School
37539       37539         Noah Erickson      M   9th  Thomas High School
37540       37540          Austin Meyer      M   9th  Thomas High School
37541       37541          Eric Stevens      M  10th  Thomas High School
37542       37542     Elizabeth Bennett      F  11th  Thomas High School
37543       37543       Madison Hampton      F   9th  Thomas High School
37544       37544     Jacqueline Harris      F  10th  Thomas High School
37545       37545      Christopher Shaw      M  10th  Thomas High School
37546       37546      Steven Hoover MD      M  12th  Thomas High School
37547       37547          Amanda Hicks      F  12th  Thomas High School
37548       37548            Brian Moss      M  10th  Thomas High School
37549       37549  Christopher Martinez      M  11th  Thomas High School
37550       37550         Patricia Diaz      F   9th  Thomas High School
37551       37551           Nancy Mason      F  12th  Thomas High School
37552       37552       Matthew Marquez      M  10th  Thomas High School
37553       37553         Curtis Gibson      M  10th  Thomas High School
37554       37554         Rebecca Brown      F  11th  Thomas High School
37555       37555           Chad Martin      M  11th  Thomas High School
37556       37556            Sarah Park      F  11th  Thomas High School
37557       37557       Shannon Sanchez      F  11th  Thomas High School
37558       37558       Kelly Henderson      M   9th  Thomas High School
37559       37559           Kiara Bates      F   9th  Thomas High School
37560       37560              Kim Hall      F  11th  Thomas High School
37561       37561         Charles Lopez      M  11th  Thomas High School
37562       37562          Teresa Johns      F   9th  Thomas High School
37563       37563           Amy Richard      F  10th  Thomas High School
37564       37564       Stephen Patrick      M   9th  Thomas High School
...           ...                   ...    ...   ...                 ...
39140       39140    Cheyenne Hernandez      F   9th  Thomas High School
39141       39141     Jonathan Sullivan      M  10th  Thomas High School
39142       39142   Deborah Higgins DDS      F  10th  Thomas High School
39143       39143        Steven Jackson      M  11th  Thomas High School
39144       39144      Cristian Webster      M  12th  Thomas High School
39145       39145            Audrey Fry      F  10th  Thomas High School
39146       39146       Michael Carroll      M   9th  Thomas High School
39147       39147       Raymond Hawkins      M  10th  Thomas High School
39148       39148    Christopher Wilson      M  10th  Thomas High School
39149       39149       Glenda Fletcher      F  11th  Thomas High School
39150       39150     Jennifer Hamilton      F  11th  Thomas High School
39151       39151      Shannon Williams      F  10th  Thomas High School
39152       39152            Lori Moore      F   9th  Thomas High School
39153       39153       William Hubbard      M   9th  Thomas High School
39154       39154       Bradley Johnson      M  12th  Thomas High School
39155       39155           John Brooks      M  10th  Thomas High School
39156       39156   Stephanie Contreras      F  11th  Thomas High School
39157       39157      Kristen Gonzalez      F   9th  Thomas High School
39158       39158         Kari Holloway      F  10th  Thomas High School
39159       39159      Kimberly Cabrera      F  11th  Thomas High School
39160       39160          Katie Weaver      F  11th  Thomas High School
39161       39161           April Reyes      F  10th  Thomas High School
39162       39162           Derek Weeks      M  12th  Thomas High School
39163       39163            John Reese      M  11th  Thomas High School
39164       39164        Joseph Anthony      M   9th  Thomas High School
39165       39165          Donna Howard      F  12th  Thomas High School
39166       39166             Dawn Bell      F  10th  Thomas High School
39167       39167        Rebecca Tanner      F   9th  Thomas High School
39168       39168          Desiree Kidd      F  10th  Thomas High School
39169       39169       Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID     type  size   budget
37535             76          76         14  Charter  1635  1043130
37536             84          82         14  Charter  1635  1043130
37537             80          90         14  Charter  1635  1043130
37538             71          69         14  Charter  1635  1043130
37539             86          76         14  Charter  1635  1043130
37540             73          96         14  Charter  1635  1043130
37541             80          76         14  Charter  1635  1043130
37542             91          94         14  Charter  1635  1043130
37543             82          73         14  Charter  1635  1043130
37544             71          92         14  Charter  1635  1043130
37545             84          68         14  Charter  1635  1043130
37546             90          81         14  Charter  1635  1043130
37547             77          74         14  Charter  1635  1043130
37548             70          97         14  Charter  1635  1043130
37549             70          68         14  Charter  1635  1043130
37550             76          99         14  Charter  1635  1043130
37551             91          86         14  Charter  1635  1043130
37552             88          79         14  Charter  1635  1043130
37553             97          70         14  Charter  1635  1043130
37554             76          77         14  Charter  1635  1043130
37555             72          82         14  Charter  1635  1043130
37556             95          74         14  Charter  1635  1043130
37557             93          84         14  Charter  1635  1043130
37558             81          90         14  Charter  1635  1043130
37559             72          98         14  Charter  1635  1043130
37560             70          83         14  Charter  1635  1043130
37561             69          93         14  Charter  1635  1043130
37562             86          69         14  Charter  1635  1043130
37563             80          97         14  Charter  1635  1043130
37564             93          97         14  Charter  1635  1043130
...              ...         ...        ...      ...   ...      ...
39140             76          99         14  Charter  1635  1043130
39141             86          93         14  Charter  1635  1043130
39142             96          83         14  Charter  1635  1043130
39143             71          93         14  Charter  1635  1043130
39144             77          87         14  Charter  1635  1043130
39145             94          74         14  Charter  1635  1043130
39146             69          95         14  Charter  1635  1043130
39147             88          81         14  Charter  1635  1043130
39148             89          89         14  Charter  1635  1043130
39149             82          93         14  Charter  1635  1043130
39150             80          75         14  Charter  1635  1043130
39151             84          73         14  Charter  1635  1043130
39152             98          84         14  Charter  1635  1043130
39153             80          75         14  Charter  1635  1043130
39154             91          71         14  Charter  1635  1043130
39155             92          98         14  Charter  1635  1043130
39156             79          95         14  Charter  1635  1043130
39157             79          94         14  Charter  1635  1043130
39158             87          90         14  Charter  1635  1043130
39159             85          72         14  Charter  1635  1043130
39160             89          86         14  Charter  1635  1043130
39161             70          84         14  Charter  1635  1043130
39162             94          77         14  Charter  1635  1043130
39163             90          75         14  Charter  1635  1043130
39164             97          76         14  Charter  1635  1043130
39165             99          90         14  Charter  1635  1043130
39166             95          70         14  Charter  1635  1043130
39167             73          84         14  Charter  1635  1043130
39168             99          90         14  Charter  1635  1043130
39169             95          75         14  Charter  1635  1043130

[1635 rows x 11 columns]
Wilson High School
       Student ID            student_name gender grade         school_name  \
13730       13730          Kelli Anderson      F  10th  Wilson High School
13731       13731         Russell Ramirez      M  10th  Wilson High School
13732       13732             Eric Butler      M  10th  Wilson High School
13733       13733             Warren Kerr      M  11th  Wilson High School
13734       13734               Gail Hall      F   9th  Wilson High School
13735       13735          Angela Walters      F   9th  Wilson High School
13736       13736           Brandi Davila      F  11th  Wilson High School
13737       13737        Natasha Williams      F  10th  Wilson High School
13738       13738             James Owens      M  12th  Wilson High School
13739       13739           Tamara Torres      F   9th  Wilson High School
13740       13740                Emma Day      F   9th  Wilson High School
13741       13741            David Brooks      M  10th  Wilson High School
13742       13742         Madison Gregory      F   9th  Wilson High School
13743       13743           Michael Clark      M   9th  Wilson High School
13744       13744         Nathaniel Smith      M   9th  Wilson High School
13745       13745         Cassandra Lopez      F  11th  Wilson High School
13746       13746           Joseph Miller      M  11th  Wilson High School
13747       13747           Nicholas Good      M   9th  Wilson High School
13748       13748             Tracy Allen      F  12th  Wilson High School
13749       13749         Candice Fischer      F  12th  Wilson High School
13750       13750          Crystal Taylor      F  12th  Wilson High School
13751       13751           Maria Swanson      F  10th  Wilson High School
13752       13752        Kimberly Johnson      F  12th  Wilson High School
13753       13753            Amber Parker      F   9th  Wilson High School
13754       13754           Nathan Garcia      M  11th  Wilson High School
13755       13755  Elizabeth Peterson DVM      F  10th  Wilson High School
13756       13756              Jimmy Bell      M   9th  Wilson High School
13757       13757              Eric Craig      M   9th  Wilson High School
13758       13758            Alexis Hayes      F   9th  Wilson High School
13759       13759         Jasmine Donovan      F  11th  Wilson High School
...           ...                     ...    ...   ...                 ...
15983       15983       Brittany Anderson      F  11th  Wilson High School

In [528]:
#Get the total number of students for each school
total_students = pd.DataFrame(g["Student ID"].count())

In [529]:
#Find each school's type
school_type= pd.DataFrame(g["type"].unique())

In [530]:
#Get the budget for each school
school_budget = pd.DataFrame(g['budget'].unique())

In [531]:
#Calculate the school budget (series) so we can calculate the budget per student
school_budget_series = g['budget'].unique()

In [532]:
#Find the total number of students by school and put it in a series so we
#can calculate budget per student
total_students_series = g["Student ID"].count()

In [533]:
#Calculate budget per student
budget_per_student = school_budget_series/total_students_series

In [534]:
#Turn budget per student into a dataframe
#so we can combine it with the other data frames
budget_per_student_df = pd.DataFrame(budget_per_student)

In [535]:
reading_score = g["reading_score"].unique()
reading_pass_df = pd.DataFrame(reading_score)

In [536]:
math_score = g["math_score"].unique()
math_pass_df = pd.DataFrame(math_score)

In [537]:
#Get the total number of reading scores above 70 for each school
reading_passing = school_data_complete[school_data_complete['reading_score'] > 70].groupby('school_name')['reading_score'].count()

In [538]:
#Calculate the number of failing reading scores by school
reading_fail= school_data_complete[school_data_complete['reading_score'] <= 70].groupby('school_name')['math_score'].count()

In [539]:
#get the total number of reading scores per school
total_reading_scores = reading_passing + reading_fail

In [540]:
#get the % passing for reading by dividing passing scores by total scores
percent_pass_reading = reading_passing/total_reading_scores * 100
percent_pass_reading_df = pd.DataFrame(percent_pass_reading)

In [541]:
#Get the number of passing math scores above 70 for each school
math_passing = school_data_complete[school_data_complete['math_score'] > 70].groupby('school_name')['math_score'].count()

In [542]:
#Get the number of failing math scores for each school
math_fail = school_data_complete[school_data_complete['math_score'] <= 70].groupby('school_name')['math_score'].count()

In [543]:
#Get the total number of math scores by school
total_math_scores = math_passing + math_fail

In [544]:
#Put the percent of passing math scores into a data frame
percent_pass_math = math_passing/total_math_scores * 100
percent_pass_math_df = pd.DataFrame(percent_pass_math)

In [545]:
#Overall passing rate by school
overall_pass_sum = percent_pass_math + percent_pass_reading
opsum = overall_pass_sum/2
opsum_df = pd.DataFrame(opsum)

In [546]:
#Get the average reading score and math score for each school
average_scores_df = g["reading_score", "math_score"].mean()

In [547]:
#Combine the existing dataframes together - one by one.
#Combine the reading score average, math score average, and student count into the starter summary dataframe
first_combined_df = pd.merge(average_scores_df, total_students, how='outer', on='school_name')

In [548]:
#Add the school budget dataframe to the existing summary dataframe
second_combined_df = pd.merge(first_combined_df, school_budget, how='outer', on='school_name')

In [549]:
#Add school type to the existing summary dataframe
third_combined_df = pd.merge(second_combined_df, school_type, how='outer', on='school_name')

In [550]:
#Add the budget per student to the summary dataframe
fourth_combined_df = pd.merge(third_combined_df, budget_per_student_df, how='outer', on='school_name')

In [551]:
#Add the % passing
fifth_combined_df = pd.merge(fourth_combined_df, percent_pass_reading_df, how='outer', on='school_name')

In [552]:
#Add passing rate for math by school
sixth_combined_df = pd.merge(fifth_combined_df, percent_pass_math_df, how='outer', on='school_name')

In [553]:
#Create a column header for the overall passing - I have no idea how this worked but it did.
opsum2_df = pd.concat([opsum.to_frame(name='Overall Passing')], axis=1)

In [554]:
#Combine the overall passing dataframe to the final dataframe
final_df = pd.merge(sixth_combined_df, opsum2_df, how='outer', on='school_name')

In [555]:
#Rename the columns of the final dataframe
renamed_df = final_df.rename(columns={"reading_score":"Average Reading Score", 
                                               "math_score_x":"Average Math Score",
                                              "Student ID": "Student Count",
                                              "budget": "School Budget",
                                              "type": "School Type",
                                              "0_x": "Budget per Student",
                                              "0_y": "% Reading Passing",
                                              "math_score_y": "% Math Passing",
                                              "Overall Passing" : "% Overall Passing"})

In [556]:
organized_df = renamed_df[["School Type","Student Count","School Budget",
                           "Budget per Student", "Average Math Score", "Average Reading Score",
                          "% Math Passing", "% Reading Passing", "% Overall Passing"]]
organized_df.head()

,School Type,Student Count,School Budget,Budget per Student,Average Math Score,Average Reading Score,% Math Passing,% Reading Passing,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,64.630225,79.300643,71.965434
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,89.558665,93.864370,91.711518
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,63.750424,78.433367,71.091896
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,65.753925,77.510040,71.631982
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,89.713896,93.392371,91.553134

## Top Performing Schools (By Passing Rate)

In [557]:
#Sort top performing schools by overall passing rate
top_schools_df = organized_df.sort_values("% Overall Passing", ascending = False)
top_schools_df.head()

,School Type,Student Count,School Budget,Budget per Student,Average Math Score,Average Reading Score,% Math Passing,% Reading Passing,% Overall Passing
school_name,,,,,,,,,
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,90.932983,93.254490,92.093736
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,91.683992,92.203742,91.943867
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,90.277778,93.444444,91.861111
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,89.558665,93.864370,91.711518
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,90.632319,92.740047,91.686183

## Bottom Performing Schools (By Passing Rate)

In [558]:
#Sort bottom performing schools by overall passing rate
bottom_schools_df = organized_df.sort_values("% Overall Passing")
bottom_schools_df.head()

,School Type,Student Count,School Budget,Budget per Student,Average Math Score,Average Reading Score,% Math Passing,% Reading Passing,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,64.066017,77.744436,70.905226
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,63.318478,78.813850,71.066164
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,63.852132,78.281874,71.067003
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,63.750424,78.433367,71.091896
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,64.746494,78.187702,71.467098

## Math Scores and Reading Scores by Grade

In [559]:
#Create series for each grade, grouped by school, with average math score
#Worked with Chris on this bit
ninth_grade_scores = school_data_complete[school_data_complete['grade'] =='9th'].groupby('school_name')['math_score'].mean()
tenth_grade_scores = school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['math_score'].mean()
eleventh_grade_scores = school_data_complete[school_data_complete['grade'] =='11th'].groupby('school_name')['math_score'].mean()
twelfth_grade_scores = school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['math_score'].mean()

#Concatonate each of the series into a dataframe
scores_combined_math = pd.concat([ninth_grade_scores.to_frame(name='9th'), 
                            tenth_grade_scores.to_frame(name='10th'),
                            eleventh_grade_scores.to_frame(name='11th'), 
                            twelfth_grade_scores.to_frame(name='12th')], axis=1)
scores_combined_math

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [560]:
#Create series for each grade, grouped by school, with average reading score
#Worked with Chris on this bit
ninth_grade_scores_reading = school_data_complete[school_data_complete['grade'] =='9th'].groupby('school_name')['reading_score'].mean()
tenth_grade_scores_reading = school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
eleventh_grade_scores_reading = school_data_complete[school_data_complete['grade'] =='11th'].groupby('school_name')['reading_score'].mean()
twelfth_grade_scores_reading = school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['reading_score'].mean()

#Concatonate each of the series into a dataframe
scores_combined_reading = pd.concat([ninth_grade_scores_reading.to_frame(name='9th'), 
                            tenth_grade_scores_reading.to_frame(name='10th'),
                            eleventh_grade_scores_reading.to_frame(name='11th'), 
                            twelfth_grade_scores_reading.to_frame(name='12th')], axis=1)
scores_combined_reading

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [561]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [562]:
copy = organized_df.copy()
spending = copy["Budget Ranges"] = pd.cut(copy["Budget per Student"], spending_bins, labels=group_names)
spending
spending_df = pd.DataFrame(spending)
spending_df

                      Budget per Student
school_name
Bailey High School              $615-645
Cabrera High School                <$585
Figueroa High School            $615-645
Ford High School                $615-645
Griffin High School             $615-645
Hernandez High School           $645-675
Holden High School                 <$585
Huang High School               $645-675
Johnson High School             $645-675
Pena High School                $585-615
Rodriguez High School           $615-645
Shelton High School             $585-615
Thomas High School              $615-645
Wilson High School                 <$585
Wright High School                 <$585

## Scores by School Size

In [563]:
copy2 = organized_df.copy()

In [564]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [565]:
school_size = copy2["school size"] = pd.cut(copy2["Student Count"], size_bins, labels=group_names)
school_size
school_size_df = pd.DataFrame(school_size)
school_size_df

                            Student Count
school_name
Bailey High School      Large (2000-5000)
Cabrera High School    Medium (1000-2000)
Figueroa High School    Large (2000-5000)
Ford High School        Large (2000-5000)
Griffin High School    Medium (1000-2000)
Hernandez High School   Large (2000-5000)
Holden High School          Small (<1000)
Huang High School       Large (2000-5000)
Johnson High School     Large (2000-5000)
Pena High School            Small (<1000)
Rodriguez High School   Large (2000-5000)
Shelton High School    Medium (1000-2000)
Thomas High School     Medium (1000-2000)
Wilson High School      Large (2000-5000)
Wright High School     Medium (1000-2000)

In [573]:
#Create a dataframe that I can actually see trends with because I failed hard at binning
binned_df = pd.merge(school_size_df, spending_df, how='outer', on='school_name')
binned_df

                            Student Count Budget per Student
school_name
Bailey High School      Large (2000-5000)           $615-645
Cabrera High School    Medium (1000-2000)              <$585
Figueroa High School    Large (2000-5000)           $615-645
Ford High School        Large (2000-5000)           $615-645
Griffin High School    Medium (1000-2000)           $615-645
Hernandez High School   Large (2000-5000)           $645-675
Holden High School          Small (<1000)              <$585
Huang High School       Large (2000-5000)           $645-675
Johnson High School     Large (2000-5000)           $645-675
Pena High School            Small (<1000)           $585-615
Rodriguez High School   Large (2000-5000)           $615-645
Shelton High School    Medium (1000-2000)           $585-615
Thomas High School     Medium (1000-2000)           $615-645
Wilson High School      Large (2000-5000)              <$585
Wright High School     Medium (1000-2000)              <$585

In [581]:
binned2_df = pd.merge(binned_df, organized_df, how='outer', on='school_name')
binned2_df.sort_values('% Overall Passing', ascending = False)

,Student Count_x,Budget per Student_x,School Type,Student Count_y,School Budget,Budget per Student_y,Average Math Score,Average Reading Score,% Math Passing,% Reading Passing,% Overall Passing
school_name,,,,,,,,,,,
Wilson High School,Large (2000-5000),<$585,[Charter],2283,[1319574],[578.0],83.274201,83.989488,90.932983,93.254490,92.093736
Pena High School,Small (<1000),$585-615,[Charter],962,[585858],[609.0],83.839917,84.044699,91.683992,92.203742,91.943867
Wright High School,Medium (1000-2000),<$585,[Charter],1800,[1049400],[583.0],83.682222,83.955000,90.277778,93.444444,91.861111
Cabrera High School,Medium (1000-2000),<$585,[Charter],1858,[1081356],[582.0],83.061895,83.975780,89.558665,93.864370,91.711518
Holden High School,Small (<1000),<$585,[Charter],427,[248087],[581.0],83.803279,83.814988,90.632319,92.740047,91.686183
Thomas High School,Medium (1000-2000),$615-645,[Charter],1635,[1043130],[638.0],83.418349,83.848930,90.214067,92.905199,91.559633
Griffin High School,Medium (1000-2000),$615-645,[Charter],1468,[917500],[625.0],83.351499,83.816757,89.713896,93.392371,91.553134
Shelton High School,Medium (1000-2000),$585-615,[Charter],1761,[1056600],[600.0],83.359455,83.725724,89.892107,92.617831,91.254969
Bailey High School,Large (2000-5000),$615-645,[District],4976,[3124928],[628.0],77.048432,81.033963,64.630225,79.300643,71.965434
Ford High School,Large (2000-5000),$615-645,[District],2739,[1763916],[644.0],77.102592,80.746258,65.753925,77.510040,71.631982
Hernandez High School,Large (2000-5000),$645-675,[District],4635,[3022020],[652.0],77.289752,80.934412,64.746494,78.187702,71.467098
Figueroa High School,Large (2000-5000),$615-645,[District],2949,[1884411],[639.0],76.711767,81.158020,63.750424,78.433367,71.091896
Johnson High School,Large (2000-5000),$645-675,[District],4761,[3094650],[650.0],77.072464,80.966394,63.852132,78.281874,71.067003
Huang High School,Large (2000-5000),$645-675,[District],2917,[1910635],[655.0],76.629414,81.182722,63.318478,78.813850,71.066164
Rodriguez High School,Large (2000-5000),$615-645,[District],3999,[2547363],[637.0],76.842711,80.744686,64.066017,77.744436,70.905226

## Scores by School Type

* Perform the same operations as above, based on school type.

In [566]:
organized_df

,School Type,Student Count,School Budget,Budget per Student,Average Math Score,Average Reading Score,% Math Passing,% Reading Passing,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,64.630225,79.300643,71.965434
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,89.558665,93.864370,91.711518
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,63.750424,78.433367,71.091896
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,65.753925,77.510040,71.631982
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,89.713896,93.392371,91.553134
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,64.746494,78.187702,71.467098
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,90.632319,92.740047,91.686183
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,63.318478,78.813850,71.066164
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,63.852132,78.281874,71.067003
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,91.683992,92.203742,91.943867
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,64.066017,77.744436,70.905226
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,89.892107,92.617831,91.254969
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,90.214067,92.905199,91.559633
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,90.932983,93.254490,92.093736
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,90.277778,93.444444,91.861111

In [567]:
#Group by school type
type = school_data_complete.groupby('type')
type

In [568]:
for school_type in type:
    print (school_type)
    print(school_type_df)

('Charter',        Student ID         student_name gender grade          school_name  \
5866         5866     Jamie Montgomery      F  12th  Shelton High School
5867         5867     Shannon Phillips      F  10th  Shelton High School
5868         5868          Todd Barber      M  11th  Shelton High School
5869         5869         Desiree King      F  12th  Shelton High School
5870         5870      Melissa Roberts      F  10th  Shelton High School
5871         5871        Earl Martinez      M   9th  Shelton High School
5872         5872          Jose Willis      M  11th  Shelton High School
5873         5873          Andrew Shea      M   9th  Shelton High School
5874         5874      Catherine Price      F  12th  Shelton High School
5875         5875       Matthew Fowler      M   9th  Shelton High School
5876         5876        Keith Preston      M  12th  Shelton High School
5877         5877          Mark Wilson      M  12th  Shelton High School
5878         5878      Jessica Herrera      F   9th  Shelton High School
5879         5879        Blake Salinas      M   9th  Shelton High School
5880         5880   Brittany Gutierrez      F  11th  Shelton High School
5881         5881          Tami Wagner      F  10th  Shelton High School
5882         5882         Steven James      M  12th  Shelton High School
5883         5883          Ian Alvarez      M  11th  Shelton High School
5884         5884         Carlos Brown      M   9th  Shelton High School
5885         5885          Mary Murray      F   9th  Shelton High School
5886         5886           Karen Mack      F  11th  Shelton High School
5887         5887         Curtis Berry      M  11th  Shelton High School
5888         5888      Jennifer Harvey      F  12th  Shelton High School
5889         5889    Angelica Phillips      F   9th  Shelton High School
5890         5890           Amy Miller      F  12th  Shelton High School
5891         5891        Bryan Padilla      M  11th  Shelton High School
5892         5892        Lee Alexander      M  10th  Shelton High School
5893         5893        Dylan Chapman      M  11th  Shelton High School
5894         5894       Robert Goodwin      M   9th  Shelton High School
5895         5895         John Vasquez      M  11th  Shelton High School
...           ...                  ...    ...   ...                  ...
39140       39140   Cheyenne Hernandez      F   9th   Thomas High School
39141       39141    Jonathan Sullivan      M  10th   Thomas High School
39142       39142  Deborah Higgins DDS      F  10th   Thomas High School
39143       39143       Steven Jackson      M  11th   Thomas High School
39144       39144     Cristian Webster      M  12th   Thomas High School
39145       39145           Audrey Fry      F  10th   Thomas High School
39146       39146      Michael Carroll      M   9th   Thomas High School
39147       39147      Raymond Hawkins      M  10th   Thomas High School
39148       39148   Christopher Wilson      M  10th   Thomas High School
39149       39149      Glenda Fletcher      F  11th   Thomas High School
39150       39150    Jennifer Hamilton      F  11th   Thomas High School
39151       39151     Shannon Williams      F  10th   Thomas High School
39152       39152           Lori Moore      F   9th   Thomas High School
39153       39153      William Hubbard      M   9th   Thomas High School
39154       39154      Bradley Johnson      M  12th   Thomas High School
39155       39155          John Brooks      M  10th   Thomas High School
39156       39156  Stephanie Contreras      F  11th   Thomas High School
39157       39157     Kristen Gonzalez      F   9th   Thomas High School
39158       39158        Kari Holloway      F  10th   Thomas High School
39159       39159     Kimberly Cabrera      F  11th   Thomas High School
39160       39160         Katie Weaver      F  11th   Thomas High School
39161       39161          April Reyes      F  10th   Thomas High School
39162       39162          Derek Weeks      M  12th   Thomas High School
39163       39163           John Reese      M  11th   Thomas High School
39164       39164       Joseph Anthony      M   9th   Thomas High School
39165       39165         Donna Howard      F  12th   Thomas High School
39166       39166            Dawn Bell      F  10th   Thomas High School
39167       39167       Rebecca Tanner      F   9th   Thomas High School
39168       39168         Desiree Kidd      F  10th   Thomas High School
39169       39169      Carolyn Jackson      F  11th   Thomas High School

       reading_score  math_score  School ID     type  size   budget
5866              70          91          2  Charter  1761  1056600
5867              84          71          2  Charter  1761  1056600
5868              95          99          2  Charter  1761  1056600
5869              76          95          2  Charter  1761  1056600
5870              71          82          2  Charter  1761  1056600
5871              77          86          2  Charter  1761  1056600
5872              92          86          2  Charter  1761  1056600
5873              71          94          2  Charter  1761  1056600
5874              74          76          2  Charter  1761  1056600
5875              74          75          2  Charter  1761  1056600
5876              97          75          2  Charter  1761  1056600
5877              84          96          2  Charter  1761  1056600
5878              93          77          2  Charter  1761  1056600
5879              85          77          2  Charter  1761  1056600
5880              77          81          2  Charter  1761  1056600
5881              75          76          2  Charter  1761  1056600
5882              69          80          2  Charter  1761  1056600
5883              91          82          2  Charter  1761  1056600
5884              99          94          2  Charter  1761  1056600
5885              73          78          2  Charter  1761  1056600
5886              98          83          2  Charter  1761  1056600
5887              72          77          2  Charter  1761  1056600
5888              91          81          2  Charter  1761  1056600
5889              85          90          2  Charter  1761  1056600
5890              82          82          2  Charter  1761  1056600
5891              85          96          2  Charter  1761  1056600
5892              75          89          2  Charter  1761  1056600
5893              69          93          2  Charter  1761  1056600
5894              99          94          2  Charter  1761  1056600
5895              98          77          2  Charter  1761  1056600
...              ...         ...        ...      ...   ...      ...
39140             76          99         14  Charter  1635  1043130
39141             86          93         14  Charter  1635  1043130
39142             96          83         14  Charter  1635  1043130
39143             71          93         14  Charter  1635  1043130
39144             77          87         14  Charter  1635  1043130
39145             94          74         14  Charter  1635  1043130
39146             69          95         14  Charter  1635  1043130
39147             88          81         14  Charter  1635  1043130
39148             89          89         14  Charter  1635  1043130
39149             82          93         14  Charter  1635  1043130
39150             80          75         14  Charter  1635  1043130
39151             84          73         14  Charter  1635  1043130
39152             98          84         14  Charter  1635  1043130
39153             80          75         14  Charter  1635  1043130
39154             91          71         14  Charter  1635  1043130
39155             92          98         14  Charter  1635  1043130
39156             79          95         14  Charter  1635  1043130
39157             79          94         14  Charter  1635  1043130
39158             87          90         14  Charter  1635  1043130
39159             85          72         14  Charter  1635  1043130
39160             89          86         14  Charter  1635  1043130
39161             70          84         14  Charter  1635  1043130
39162             94          77         14  Charter  1635  1043130
39163             90          75         14  Charter  1635  1043130
39164             97          76         14  Charter  1635  1043130
39165             99          90         14  Charter  1635  1043130
39166             95          70         14  Charter  1635  1043130
39167             73          84         14  Charter  1635  1043130
39168             99          90         14  Charter  1635  1043130
39169             95          75         14  Charter  1635  1043130

[12194 rows x 11 columns])
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000017FF9B32160>
('District',        Student ID        student_name gender grade        school_name  \
0               0        Paul Bradley      M   9th  Huang High School
1               1        Victor Smith      M  12th  Huang High School
2               2     Kevin Rodriguez      M  12th  Huang High School
3               3   Dr. Richard Scott      M  12th  Huang High School
4               4          Bonnie Ray      F   9th  Huang High School
5               5       Bryan Miranda      M   9th  Huang High School
6               6       Sheena Carter      F  11th  Huang High School
7               7        Nicole Baker      F  12th  Huang High School
8               8        Michael Roth      M  10th  Huang High School
9               9      Matthew Greene      M  10th  Huang High School
10             10    Andrew Alexander      M  10th  Huang High School
11             11       Daniel Cooper      M  10th  Huang High School
12             12     Brittney Walker      F   9th  Huang High School
13             13        William Long      M   9th  Huang High School
14             14        Tammy Hebert      F  10th  Huang High School
15             15   Dr. Jordan Carson      M  11th  Huang High School
16             16       Donald Zamora      M   9th  Huang High School
17             17   Kimberly Santiago      F   9th  Huang High School
18             18       Kevin Stevens      M   9th  Huang High School
19             19        Brandi Lyons      F   9th  Huang High School
20             20          Lisa Davis      F  10th  Huang High School
21             21       Kristen Lopez      F  10th  Huang High School
22             22    Kimberly Stewart      F  11th  Huang High School
23             23  Christopher Parker      M   9th  Huang High School
24             24    Chelsea Griffith      F  11th  Huang High School
25             25        Cesar Morris      M   9th  Huang High School
26             26      Melanie Decker      F   9th  Huang High School
27             27      Tracey Oconnor      F  10th  Huang High School
28             28         Kelly James      F  11th  Huang High School
29             29        Nicole Brown      F  12th  Huang High School
...           ...                 ...    ...   ...                ...
37505       37505        Jason Wagner      M  12th   Ford High School
37506       37506     Maurice Nielsen      M  12th   Ford High School
37507       37507        James Turner      M  12th   Ford High School
37508       37508          Larry Pope      M   9th   Ford High School
37509       37509       Robert Martin      M  12th   Ford High School
37510       37510      Darius Jimenez      M  12th   Ford High School
37511       37511       Daniel Turner      M  10th   Ford High School
37512       37512         Lauren Cook      F   9th   Ford High School
37513       37513    Wayne Washington      M  11th   Ford High School
37514       37514        Leslie White      F  12th   Ford High School
37515       37515       Maria Andrade      F  12th   Ford High School
37516       37516       Tracy Sanchez      F  11th   Ford High School
37517       37517       Kayla Johnson      F   9th   Ford High School
37518       37518      Daniel Andrews      M   9th   Ford High School
37519       37519       Ruben Ramirez      M  12th   Ford High School
37520       37520   Benjamin Odonnell      M  11th   Ford High School
37521       37521      Meredith Tapia      F   9th   Ford High School
37522       37522        Ricky Little      M  12th   Ford High School
37523       37523  Rebecca Valenzuela      F  10th   Ford High School
37524       37524     Carrie Fletcher      F   9th   Ford High School
37525       37525      Steven Summers      M   9th   Ford High School
37526       37526        Jon Santiago      M  10th   Ford High School
37527       37527  Thomas Christensen      M   9th   Ford High School
37528       37528      Nicholas Perry      M  11th   Ford High School
37529       37529  Victoria Rodriguez      F  11th   Ford High School
37530       37530      William Rivera      M   9th   Ford High School
37531       37531        Bernard Reid      M   9th   Ford High School
37532       37532         Dawn Sawyer      F  12th   Ford High School
37533       37533        Thomas Knapp      M  12th   Ford High School
37534       37534      Melissa Porter      F   9th   Ford High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
7                 96          69          0  District  2917  1910635
8                 95          87          0  District  2917  1910635
9                 96          84          0  District  2917  1910635
10                90          70          0  District  2917  1910635
11                78          77          0  District  2917  1910635
12                64          79          0  District  2917  1910635
13                71          79          0  District  2917  1910635
14                85          67          0  District  2917  1910635
15                94          88          0  District  2917  1910635
16                88          55          0  District  2917  1910635
17                74          75          0  District  2917  1910635
18                64          69          0  District  2917  1910635
19                89          80          0  District  2917  1910635
20                91          89          0  District  2917  1910635
21                90          77          0  District  2917  1910635
22                99          84          0  District  2917  1910635
23                81          68          0  District  2917  1910635
24                85          73          0  District  2917  1910635
25                92          70          0  District  2917  1910635
26                63          85          0  District  2917  1910635
27                80          58          0  District  2917  1910635
28                73          55          0  District  2917  1910635
29                90          88          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
37505             97          80         13  District  2739  1763916
37506             76          66         13  District  2739  1763916
37507             73          74         13  District  2739  1763916
37508             74          61         13  District  2739  1763916
37509             80          67         13  District  2739  1763916
37510             89          82         13  District  2739  1763916
37511             68          58         13  District  2739  1763916
37512             84          72         13  District  2739  1763916
37513             79          63         13  District  2739  1763916
37514             80          73         13  District  2739  1763916
37515             69          87         13  District  2739  1763916
37516             76          75         13  District  2739  1763916
37517             71          80         13  District  2739  1763916
37518             89          98         13  District  2739  1763916
37519             84          65         13  District  2739  1763916
37520             63          74         13  District  2739  1763916
37521             77          78         13  District  2739  1763916
37522             90          68         13  District  2739  1763916
37523             90          84         13  District  2739  1763916
37524             84          72         13  District  2739  1763916
37525             71          71         13  District  2739  1763916
37526             98          56         13  District  2739  1763916
37527             98          60         13  District  2739  1763916
37528             83          83         13  District  2739  1763916
37529             76          69         13  District  2739  1763916
37530             63          59         13  District  2739  1763916
37531             94          80         13  District  2739  1763916
37532             91          66         13  District  2739  1763916
37533             75          70         13  District  2739  1763916
37534             76          84         13  District  2739  1763916

[26976 rows x 11 columns])
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000017FF9B32160>

In [569]:
#Group by school type
pd.DataFrame(type["school_name"].unique())

                                                school_name
type
Charter   [Shelton High School, Griffin High School, Wil...
District  [Huang High School, Figueroa High School, Hern...